*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  vertical-align: baseline;
}

body {
  font-weight: normal;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  margin: 0;
  padding: 0;
  background: #fff;
  border: 0;
  outline: none;
}

input {
  outline: none;
}

form {
  width: 100%;
}
