.tox-tinymce {
  border: none !important;
}

p {
  color: var(--color-primary) !important;
}

.tox {
  .tox-toolbar-overlord {
    background: none !important;
  }

  .tox-toolbar__primary {
    background: var(--surface-z-0) !important;
  }
  .tox-edit-area__iframe {
    background: var(--surface-z-0) !important;
  }

  .tox-menu {
    background: var(--surface-z-0) !important;
    border-color: var(--color-line) !important;
  }

  .tox-tbtn {
    color: var(--color-primary) !important;

    &:not(.tox-tbtn--disabled) svg {
      fill: var(--color-primary) !important;
    }

    &.tox-tbtn--disabled svg {
      fill: var(--color-tertiary) !important;
    }

    &:not(.tox-tbtn--disabled):hover {
      background-color: unset !important;
      color: var(--color-primary-1000) !important;

      svg {
        fill: var(--color-primary-1000) !important;
      }
    }
  }
  .tox-tbtn.tox-tbtn--enabled {
    background-color: unset !important;
    svg {
      fill: var(--color-primary-1000) !important;
    }
  }

  .tox-collection__item-caret svg {
    fill: var(--color-primary) !important;
  }

  .tox-tbtn:focus {
    background-color: unset !important;
  }

  .tox-tbtn,
  .tox-swatch,
  .tox-tbtn__select-label {
    cursor: pointer !important;
  }

  .tox-tbtn svg {
    fill: var(--color-primary) !important;
  }

  .tox-collection--list .tox-collection__item--enabled {
    background-color: unset !important;
    color: var(--color-primary-1000) !important;
  }

  .tox-collection--list .tox-collection__item--active {
    background-color: unset !important;
    color: var(--color-primary-1000) !important;
  }

  .tox-collection__item.tox-collection__item--state-disabled {
    color: var(--color-tertiary) !important;
  }

  .tox-collection__item {
    color: var(--color-primary) !important;
  }

  .tox-insert-table-picker .tox-insert-table-picker__selected {
    background-color: var(--status-blue-light) !important;
    border-color: var(--color-primary-1000) !important;
  }

  .tox-dialog-wrap__backdrop {
    background-color: unset !important;
  }

  //.tox-dialog__footer,
  //.tox-dialog__header,
  //.tox-dialog__content-js {
  //  background-color: var(--surface-z-0) !important;
  //  color: var(--content-primary) !important;
  //}

  .tox-dialog__header {
    background-color: var(--surface-z-0) !important;
    color: var(--color-primary) !important;
  }
}

.tox-tbtn.tox-tbtn--disabled {
  cursor: not-allowed !important;
}

.mce-content-body .mce-visual-caret {
  color: var(--color-primary) !important;
}

.tox:not([dir='rtl']) .tox-toolbar__group:not(:last-of-type) {
  border-right: var(--color-line) !important;
}
