.wrapper {
  padding: 16px 18px;
  background-color: var(--color-white);
  border-radius: var(--radius-xl);
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-dark-1000);
}

.actions {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.items {
}

.item {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-top: 16px;
}

.detail {
  &:last-child {
    margin-left: auto;
  }

  &Title {
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 16px;
    color: var(--color-dark-1000);
  }

  &Description {
    font-size: 14px;
    color: var(--color-dark-900);
  }
}
