.ant-select {
  display: block !important;
  font-weight: 400 !important;
  color: var(--color-gray-1000) !important;

  .ant-select-selector {
    min-height: 38px !important;
    padding: 0 12px !important;
    background: none !important;
    color: var(--color-gray-1000) !important;
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;

    .ant-select-selection-placeholder {
      font-weight: 400 !important;
      font-size: 15px !important;
      color: var(--color-gray-800) !important;
    }
  }

  &-sm {
    .ant-select-selector {
      min-height: 32px !important;
    }
  }

  &-lg {
    .ant-select-selector {
      min-height: 44px !important;
    }
  }

  &.ant-select-open {
    .ant-select-selector {
      border: 0 !important;
      box-shadow: none !important;
    }
  }

  .ant-select-arrow {
    width: 18px;
    min-width: 18px;
    height: 18px;
    margin-top: -8px;
    margin-right: -5px;
    color: var(--color-gray-1000);

    &.ant-select-arrow-loading {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: none;

      > span {
        display: block;
        color: var(--color-gray-1000);
      }
    }
  }

  &:hover {
    .ant-select-selector {
      border: none !important;
    }
  }

  &.ant-select-multiple {
    &.ant-select {
      &-sm {
        .ant-select-selector {
          min-height: 32px !important;
        }
      }

      &-lg {
        .ant-select-selector {
          min-height: 48px !important;
        }
      }
    }

    .ant-select-selector {
      height: auto !important;
      min-height: 38px !important;
      padding: 2px 4px !important;
    }

    .ant-select-selection-item {
      background-color: var(--color-primary-1000) !important;
      color: var(--color-white) !important;
      border-color: var(--color-primary-1000) !important;
      border-radius: var(--radius-sm);
    }

    .ant-select-selection-overflow {
      display: flex !important;
    }

    .ant-select-selection-placeholder {
      background: none !important;
    }

    .ant-select-selection-item-remove {
      color: var(--color-white) !important;
    }
  }

  &.ant-select-disabled {
    .ant-select-selector {
      background: none !important;
      color: var(--color-gray-1000) !important;
      border: none !important;
    }
  }

  .ant-select-selection-search {
    width: 100% !important;
    margin-left: 0;

    .ant-select-selection-search-input {
      height: 100% !important;
      padding: 0 4px !important;
    }
  }
}

.ant-select-dropdown {
  padding: 4px !important;
  background-color: var(--color-white) !important;
  border-radius: var(--radius-sm) !important;
  box-shadow: var(--shadow-md) !important;
}

.ant-select-item {
  min-height: 36px !important;
  padding: 8px !important;
  font-weight: 400 !important;
  font-size: 13px !important;
  line-height: 150% !important;
  transition: all 0.3s ease-in-out !important;

  &:not(.ant-select-item-group):hover {
    color: var(--color-white) !important;
  }

  &.ant-select-item-option {
    border-radius: var(--radius-sm) !important;

    .ant-select-item-option-content {
      color: var(--color-primary) !important;
      transition: all 0.2s ease-in-out !important;
    }

    &-active,
    &-selected {
      background-color: var(--color-primary-1000) !important;

      .ant-select-item-option-content {
        color: var(--color-white) !important;
      }
    }

    &-disabled,
    &-disabled:hover {
      background-color: var(--color-gray-500) !important;
      opacity: 0.5;

      .ant-select-item-option-content {
        color: var(--color-gray-1000) !important;
      }
    }
  }
}
