import React from 'react';

import cls from './{{pascalCase name}}.module.scss';

interface IProps {
  onClick: () => void;
  children: React.ReactNode;
}

const {{pascalCase name}}: React.FC<IProps> = ({ onClick, children }) => (
  <div className={cls.wrapper} {...{ onClick }}>
    {children}
  </div>
);

export default {{pascalCase name}};
