.wrapper {
  position: relative;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-md);
  cursor: pointer;
  transition: all 0.3s ease;

  &--size {
    &-small {
      height: 32px;
    }

    &-middle {
      height: 38px;
    }

    &-large {
      height: 44px;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.8;
    box-shadow: var(--shadow-md);
  }
}

.message {
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  font-weight: 500;
  font-size: 10px;
  line-height: 1;
  color: var(--color-red);
}
