.wrapper {
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: var(--color-white);
  border-radius: var(--radius-xl);
  cursor: pointer;
  transition: all 0.3s linear;
}

.image {
  width: 124px;
  height: 124px;
  margin-bottom: 15px;
}

.name {
  font-weight: 600;
  font-size: 16px;
}
