.ant-table {
  position: relative;
  background-color: transparent !important;
  overflow: hidden !important;

  &-wrapper {
    .ant-spin-container {
      &::after {
        background: var(--color-gray-200) !important;
        transition: all 0.2s ease-in-out !important;
      }

      &.ant-spin-blur::after {
        opacity: 1 !important;
      }
    }
  }

  table {
    border-radius: var(--radius-lg) !important;
  }

  &-cell {
    border-color: var(--color-dark-300) !important;
  }

  &-empty &-expanded-row-fixed {
    width: 100% !important;
  }

  &-empty &-tbody > tr {
    background-color: var(--color-white);
  }
}

.ant-table-thead {
  > tr {
    background-color: var(--color-dark-300) !important;

    > th {
      position: relative;
      padding: 5px 20px !important;
      font-weight: 600 !important;
      font-size: 13px;
      background-color: transparent !important;
      color: var(--color-dark-1000) !important;
      transition: none !important;

      &:hover {
        &::after {
          display: none;
        }
      }

      &.ant-table-column-sort {
        background-color: var(--color-gray-300) !important;
      }
    }
  }

  .ant-table-cell {
    margin-bottom: 20px;
    padding: 12px 10px;
    font-weight: 600;
    border: 0;
    border-bottom: none;
    user-select: none;

    &:first-child {
      border-top-left-radius: var(--radius-lg) !important;
    }

    &:last-child {
      border-top-right-radius: var(--radius-lg) !important;
    }

    &::before {
      display: none;
    }
  }
}

.ant-table-tbody {
  > tr {
    margin-top: 10px !important;

    &.ant-table-row {
      background-color: var(--color-white) !important;

      &:hover {
        background-color: var(--color-dark-100) !important;
      }
    }

    > td {
      position: relative;
      padding: 5px 20px !important;
      font-size: 13px;
      line-height: 150%;
      background-color: transparent !important;
      color: var(--color-dark-900);
      transition: none !important;

      &:hover {
        &::before {
          content: '';
          position: absolute;
          top: -5000px;
          left: 0;
          z-index: -1;
          width: 100%;
          height: 10000px;
        }
      }

      &.ant-table-cell-fix-left,
      &.ant-table-cell-fix-right {
        &::before {
          display: none !important;
          visibility: hidden !important;
        }
      }

      & p {
        margin-bottom: 0;
      }
    }

    &:last-child {
      > td {
        &:first-child {
          border-bottom-left-radius: var(--radius-lg) !important;
        }

        &:last-child {
          border-bottom-right-radius: var(--radius-lg) !important;
        }
      }
    }

    &.ant-table-measure-row {
      > td {
        height: 0 !important;
        padding: 0 !important;
        border-bottom: 0 !important;
      }
    }

    &.ant-table-placeholder:hover {
      > td {
        background-color: transparent !important;
      }
    }
  }
}

.ant-table-ping-left,
.ant-table-ping-right {
  .ant-table-thead {
    > tr {
      > th {
        &:first-child {
          border-top-left-radius: var(--radius-lg) !important;
        }

        &:last-child {
          border-top-right-radius: var(--radius-lg) !important;
        }

        &.ant-table-cell-fix-left,
        &.ant-table-cell-fix-right {
          background-color: var(--color-white) !important;

          &::before {
            content: '';
            position: absolute;
            top: -5000px;
            left: 0;
            z-index: -1;
            display: block !important;
            width: 100%;
            height: 10000px;
            transform: translateX(0);
            backdrop-filter: blur(25px);
          }
        }
      }
    }
  }
}
