.ant-select-tree-title {
  display: block;
  height: 38px !important;
  min-height: 38px !important;
  line-height: 38px !important;
}

.ant-select-tree-treenode {
  border-radius: var(--radius-sm) !important;
}

.ant-select-tree-treenode:hover,
.ant-select-tree-treenode-selected {
  background-color: var(--color-primary-1000) !important;
  color: var(--color-white) !important;
}

.ant-select-tree-switcher {
  line-height: 38px !important;
}

.ant-select-tree-node-content-wrapper {
  transition: none !important;
}

.ant-select-tree-node-content-wrapper:hover {
  background-color: transparent !important;
  color: var(--color-white) !important;
}

.ant-select-tree-node-selected {
  background-color: transparent !important;
  color: var(--color-white) !important;
}
