.wrapper {
  position: relative;
  display: block;

  &Inner {
    background-color: var(--color-white);
    border: 2px dashed var(--color-gray-500);
    border-radius: var(--radius-sm);
    user-select: none;
    transition: all 0.3s ease-in-out;
  }

  &--state {
    &-default {
      .wrapperInner {
        border-color: var(--color-gray-500);
      }
    }

    &-success {
      .wrapperInner {
        border-color: var(--color-green);
      }

      .detailItem,
      .uploadIcon,
      .uploadButton {
        color: var(--color-green);
      }
    }

    &-error {
      .wrapperInner {
        border-color: var(--color-red);
      }

      .detailItem,
      .uploadIcon,
      .uploadButton {
        color: var(--color-red);
      }
    }

    &-uploaded {
      .wrapperInner {
        background-color: var(--color-white);
      }
    }

    &-progress {
      .wrapperInner {
        border-color: var(--color-gray-500);
      }
    }

    &-preview {
      .wrapperInner {
        border-color: var(--color-gray-500);
      }
    }
  }

  &:hover {
    .wrapperInner {
      border-color: var(--color-primary-1000);
    }

    .detailItem,
    .uploadIcon,
    .uploadButton {
      color: var(--color-primary-1000);
    }
  }
}

.content {
  display: block;
  overflow: hidden;
}

.detail {
  &List {
    display: block;
  }

  &Item {
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    color: var(--color-gray-1000);
    transition: all 0.3s ease-in-out;

    + .detailItem {
      margin-top: 4px;
    }
  }
}

.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  min-width: 100px;

  &Icon {
    width: 48px;
    min-width: 48px;
    height: 48px;
    min-height: 48px;
    margin-bottom: 12px;
    color: var(--color-gray-1000);
    transition: all 0.3s ease-in-out;
  }

  &Button {
    display: block;
    width: 100%;
    padding: 5px 8px;
    font-weight: 600;
    font-size: 13px;
    line-height: 140%;
    text-align: center;
    background-color: var(--color-white);
    color: var(--color-gray-1000);
    border-radius: var(--radius-sm);
    user-select: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: var(--color-primary-1000);
    }

    input {
      width: 0;
      height: 0;
      visibility: hidden;
      opacity: 0;
    }
  }
}

.preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 10px;

  &Name {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 13px;
    line-height: 140%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--color-gray-1000);
    overflow: hidden;
  }

  &Inner {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 120px;
    min-width: 120px;
    height: 120px;
    min-height: 120px;
    padding: 12px;
    overflow: hidden;
    border-radius: var(--radius-sm);
  }

  &Image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: var(--color-white);

    .file-type {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: var(--color-gray-1000);
      border-radius: var(--radius-sm);

      &--file {
        background: linear-gradient(135deg, #e6fffd 0%, #a3deff 100%);
      }
      &--video {
        background: linear-gradient(135deg, #fbffe6 0%, #ffc4a3 100%);
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: auto;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.21%, rgba(0, 0, 0, 0.35) 100%);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &Button {
    &List {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &Item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      margin: 0 4px;
      background-color: var(--color-white);
      color: var(--color-gray-1000);
      border-radius: var(--radius-sm);
      cursor: pointer;

      &:first-child:hover {
        color: var(--color-primary-1000);
      }

      &:last-child:hover {
        color: var(--color-red);
      }
    }
  }
}

.progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;

  &Header {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
  }

  &Title,
  &Percent {
    font-weight: bold;
    font-size: 13px;
    line-height: 140%;
    color: var(--color-primary-1000);
  }

  &Title {
    flex: 1;
    width: 100%;
  }

  &Percent {
    margin-left: 8px;
  }

  &Cancel {
    width: 16px;
    min-width: 16px;
    height: 16px;
    margin-left: 8px;
    color: var(--color-primary-1000);
    cursor: pointer;
    user-select: none;
  }

  &Bar {
    width: 100%;
    height: 10px;
    margin-bottom: 10px;
    background-color: var(--color-white);
    border-radius: 30px;
    overflow: hidden;

    &Inner {
      height: 10px;
      background-color: var(--color-primary-1000);
      border-radius: 33px;
    }
  }

  &Info {
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    color: var(--color-gray-1000);
  }
}

.default {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 10px;
  cursor: pointer;
}

.message {
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  display: block;
  font-weight: 500;
  font-size: 10px;
  line-height: 1;
  color: var(--color-red);
}
